*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(34, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo1{
    width: 120px;
}
.menues{
    display: flex;
}
.menu{
    margin-right: 10px;
    padding: 7.5px;
    cursor: grabbing;
    font-weight: bold;
  
}
.menu:hover{
    color: green;
    
}
.banner-photo{
    width: 250px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 2px solid gray;
    background-image: url("./images/background.png");
    linear-gradient(45deg, black)
}
